@charset "utf-8";
/* CSS Document */
.clear {
	clear: both;
}
.clsformulario {
	width: 380px;
}
form {
	width: inherit;
	margin: 5px auto 0;
}
fieldset {
	padding-left: 2px !important;
	margin: 1px;
	border: #009900 solid 0px;/*border: 0;*/
}
fieldset legend {
	font-weight: bold;
	font-size: 15px;
}
label {
	width: 120px;
	text-align: right;
	float: left;
	margin: 0 10px 0 0;
	padding: 5px 0 0 0;
	font-size: 13px;
	font-weight: bold;
}
input[type=text], .text, input[type=password] {
	width: 220px;
	display: block;
	padding: 3px;
	margin: 0 0 10px 0;
	font-size: 15px;
	color: #3a3a3a;
	font-family: Georgia, serif;
}
textarea, .textarea {
	width: 250px;
	display: block;
	padding: 4px;
	margin: 0 0 10px 0;
	font-size: 18px;
	color: #3a3a3a;
	font-family: Georgia, serif;
}
select {
	width: 220px;
	display: block;
	padding: 4px;
	margin: 0 0 10px 0;
	font-size: 18px;
	color: #3a3a3a;
	font-family: Georgia, serif;
}
input[type=checkbox] {
	width: 20px;
	margin: 0;
	display: inline-block;
}
/*para  IE .boton */
input[type=submit], input[type=button], .boton, {
 font-weight: bold;
 width: 100px;
 float: right;
 padding: 5px;
 margin: 5px;
 display: block;
}
.boton:hover {
	color: #006600;
}
button {
	font-weight: bold;
	width: 120px;
	padding: 5px;
	margin: 5px;	
	text-align: center;
	vertical-align: central;
}
button img {
	border: 0;	
	text-align: right;
	float:right;
}
#vertical {	
	display: table-cell;  /*Propiedad obligatoria*/
	height: 30px;
	text-align: center;
	vertical-align: middle; /*Propiedad obligatoria*/
	width: 300px;
}
