/* ----------------------------------------------------------------------------
  * Styles for the jQuery-UI dialog widget contained form
  *
  * ------------------------------------------------------------------------  */
.ui-dialog .ui-dialog-titlebar {
	font: small-caps bold 14px Georgia, Times, serif;
}
/*para elementos del Frmulario*/
form table{
	width:98%	;
	text-align:center;
	}
form table tr td {
	font-size: 13px;
	font-weight: bold;
	
}
form table tr td div {
	font-size: 14px;
	color: #009933 ;
	text-align:left;
	
}
form table tr td input,form table tr td textarea   {
	width: 95%;	
}
form table tr td select {
	width: 98%;	
}

input.calendario {
	width: 88%;	
}

form table tr td textarea {
	height: 50px;
	margin-top: 5px
}
/*
form {
	background: rgb(237,237,237);
	border: 1px rgb(212,212,212) solid;
	margin: 10px auto;
	width: 370px;
	padding:1px;

} */
input.text {
	margin-bottom: 12px;
	width: 95%;
	padding: .4em;
}

button {
	font-weight: bold;
	width: 120px;
	padding: 5px;
	margin: 2px;	
	text-align: center;
	vertical-align: central;
}
button img {
	border: 0;	
	text-align: right;
	float:left;
	width:25px;
	height:25px;
}
.chkradio {
	margin-left: 5px;
}
.chkradio label {
	/*width: 45px;*/
	float: left;
	margin: 5px;
	padding: 2PX;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}
.chkradio label p {
	width: 100%;
	/*color: #006600;*/
}
input[readonly="readonly"]
{
    background-color:#CCCCCC;
	color:#666666
}