@charset "utf-8";
* {
	margin: 0;
}
#cssmenu {
	background: #619a0b; /* #009900;*/
	padding-left: 10px !important;
}
#cssmenu ul li {
	display: inline;
	padding: 2px 7px; /*Separar el texto*/
	margin-right: 5px; /* Separar los botones */
	position: relative;
}
#cssmenu ul li a {
	color: #FFFFFF; /* Color de fondo sobre el boton */
	font-weight: bold;
	font-size: 15px;
}
#cssmenu ul li a:hover {
	color: #00CC33; /* Color de fondo sobre el boton */
	cursor: pointer; /* cambiar el aspecto del puntero */
}
#superiorImg {
	height: 80px;
	background: #FFFFFF;
}
#cssmenu ul li a.selected {
	border-top: 1px solid #619A0B;
	border-right: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-bottom: 2px solid #CCCCCC;
	background-color:#CCCCCC;/* #FFFFFF;*/
	padding: 0px 7px;
	top: 0;
	color:  #000000;
	height: 12px
}
